*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}
a{
  text-decoration: none;
}
.home-page {
  height: 100vh;
  background-image: url('https://static.vecteezy.com/system/resources/previews/004/968/002/original/cute-abstract-modern-background-free-vector.jpg');
}

.home-page-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 30px;
  border-radius: 25px;
  padding-bottom: 100px;
  background-color: aliceblue;
}

.home-page-card h3 {
  font-size: 40px;
}
.home-page-card p {
  text-align: center;
  padding-top: 10px;
  color: rgb(39, 38, 38);
}
.home-page-card .avatar {
  text-align: center;
  font-size: 104px;
  color: rgb(0, 86, 184);
}
.home-page-card input {
  margin: 10px;
  padding: 5px;
  border: none;
  outline: none;
  width: 100%;
}
.home-page-card button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
}
.home-page-card button:hover {
  background-color: crimson;
}
.home-page-card a {
  color: crimson;
}